<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright &copy; <a href="/">APTSHome</a> 2022</div>

            <div>
                <span>Follow Us On:</span>
                <a href="https://www.facebook.com/profile.php?id=100087044187927" target="_blank"
                   style="color:blue;font-size:30px;padding :5px;"> <i class="fab fa-facebook-f"> </i></i></a>
                <a href="https://www.youtube.com/@aptshome8750" target="_blank"
                   style="color:red;font-size:30px;padding :5px;"> <i class="fab fa-youtube"> </i></a>
                <a href="https://twitter.com/aptshomez" target="_blank"
                   style="color:rgb(29, 155, 240);font-size:30px;padding :5px;"><i class="fab fa-twitter"> </i></a>

            </div>

        </div>
    </div>
</footer>
