<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add CSS and JS to template</title>
    <link th:herf="@{/css/main.css}" rel="stylesheet"></link>
    <script type="text/javascript" th:src="@{/js/actions.js}"></script>
</head>
<body>
    <h2>Hello CSS and JS exaple</h2>
    <p>this is the vey special example for my duaghter <strong> Teekshika Ukkalam</strong>
    </p>
    <button type="button" th:onclick="demo()">Alert</button>
</body>
</html>