<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body class="sb-nav-fixed">
<div th:replace="header"></div>
<div id="layoutSidenav">
    <div id="layoutSidenav_content">
        <div th:replace="navbar"></div>
        <main>
            <div class="container-fluid px-4">
                <div class="mt-4 card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <b class="font-weight-bold">Logo, Venture Name</b> <br/> <i style="font-size:12px"
                                                                                            class="font-weight-light">Organization
                                Name</i>
                            </div>
                            <div class="col">
                                Venture Status:<br/>
                                Acres:
                            </div>
                            <div class="col">
                                <form class="form-inline">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Plot Number" style="width:40%">
                                        <div class="input-group-append">

                                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                                    data-target="#ENQUIRY">
                                                Enquiry Plot
                                            </button>
                                            <!-- Modal -->
                                            <div class="modal fade" id="ENQUIRY" tabindex="-1" role="dialog"
                                                 aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLongTitle">
                                                                Enquiry Plot</h5>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="form-group">
                                                                <label for="formGroupExampleInput">Example label</label>
                                                                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="formGroupExampleInput2">Another label</label>
                                                                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-dismiss="modal">Close
                                                            </button>
                                                            <button type="button" class="btn btn-primary">Save changes
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="mt-2 row">
                            <div class="col">
                                Total Plots:
                                <br/>
                                Available Plots:
                            </div>
                            <div class="col">
                                Approved Authority:<br/>
                                Rera Approved:
                            </div>

                            <div class="col">
                                Map Location:<br/>Address:
                            </div>
                        </div>
                        <div class="mt-4 row">
                            <div class="col">


                                <div class="dropdown">
                                    <button class="btn btn-primary " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Layout With Plots Status
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <div th:replace="layoutstatus"></div>
                                    </div>
                                </div>

                            </div>
                            <div class="col">

                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                        data-target="#development">
                                    Recent Development Photos
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="development" tabindex="-1" role="dialog"
                                     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">Recent Development
                                                    Photos</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                ...
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                    Close
                                                </button>
                                                <button type="button" class="btn btn-primary">Save changes</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div class="col">

                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                        data-target="#documents">
                                    Leagal/Approval Documents
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="documents" tabindex="-1" role="dialog"
                                     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">Leagal/Approved
                                                    Documents</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                ...
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                    Close
                                                </button>
                                                <button type="button" class="btn btn-primary">Save changes</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>

                        </div>
                    </div>
                </div>
                <div class="mt-4 card mb-4">
                    <div class="card-body">

                    </div>
                </div>

            </div>
        </main>
        <div th:replace="footer"></div>
    </div>

</div>
<script>
    $(#dropdownMenuButton).dropdown('show');
</script>
</body>
</html>
